<!DOCTYPE html>
<html dir="ltr" lang="en-GB">
<head>
    <meta content="text/html; charset=utf-8" http-equiv="content-type"/>
</head>
<body style="font-family: 'Ubuntu', sans-serif; font-size: 100%; margin: 3%;">
<header>
    <div class="header-image" style="
    width: 100%;
    height: 75px;
    background-color: #00AEAB;
    background-image: url(https://www.identitybank.eu/images/homeafbeeldingen/logo2new.png);
    background-repeat: no-repeat;
    background-size: 320px 75px;">&nbsp;
    </div>

    <hr style="color: #00AEAB; opacity: 50%;">
    <div style="text-align:center; line-height: 30px; padding-top: 0px; padding-bottom: 50px;">
        <p style="margin-bottom: 40px;">
            Sie wurden von {{primaryAccountContact}} aufgefordert, eine Zahlung zu leisten, damit Ihr Unternehmen seine
            Registrierung bei Identity Bank abschließen und unsere Dienste nutzen kann.
        </p>
        <a
                href="{{paymentLink}}"
                style="text-transform: uppercase ;background:#00AEAB;color:white;font-family:Helvetica;font-size:13px;font-weight:normal;line-height:120%;Margin:0;text-decoration:none; line-height: 60px; padding: 0 20px; display: inline-block;"
                target="_blank">Bitte klicken Sie hier, um Ihre Zahlung zu tätigen</a>
    </div>

</header>

<hr style="color: #00AEAB; opacity: 50%;">
<footer style="padding-top: 0px;">
    <div class="idb-details-large" style="
        width: 100%;
        text-align: center;
        padding: 0 10px 5px 10px;">
        {{emailTemplateFooter}}
    </div>
</footer>
</body>
</html>
