<!DOCTYPE html>
<html dir="ltr" lang="en-GB">
<head>
    <meta content="text/html; charset=utf-8" http-equiv="content-type"/>
</head>
<body style="font-family: 'Ubuntu', sans-serif; font-size: 100%; margin: 3%;">
<header>
    <div class="header-image" style="
    width: 100%;
    height: 75px;
    background-color: #00AEAB;
    background-image: url(https://www.identitybank.eu/images/homeafbeeldingen/logo2new.png);
    background-repeat: no-repeat;
    background-size: 320px 75px;">&nbsp;
    </div>
</header>

<hr style="color: #00AEAB; opacity: 50%;">
<div style="text-align:left; line-height: 150%; color:grey; padding-top: 10px; padding-bottom: 30px;">
    <p>Geachte mijnheer/mevrouw,</p>
    <p>U word vriendelijk verzocht door {{primaryAccountContact}} om de betalingsgegevens in te vullen, zodat uw bedrijf de registratie bij Identity Bank kan voltooien en de dienst kan gaan gebruiken.</p>

    <div style="text-align:center; color:grey; padding-top: 10px; padding-bottom: 10px;">
        <a
                href="{{paymentLink}}"
                style="text-transform: uppercase ; background:#00AEAB; color:white; font-family:Helvetica; font-size:13px; font-weight:normal;  Margin:0; text-decoration:none; line-height: 40px; padding: 0 20px; display: inline-block;"
                target="_blank">Klik hier om de betalingsgegevens te voltooien</a>
    </div>
    <p>Met vriendelijke groeten,</p>

    <p>Identity Bank<br>
        <i>You belong to you</i></p>
</div>


<hr style="color: #00AEAB; opacity: 50%;">
<footer style="padding-top: 0px;">
    <div class="idb-details-large" style="
        width: 100%;
        text-align: center;
        padding: 0 10px 5px 10px;">
        {{emailTemplateFooter}}
    </div>
</footer>
</body>
</html>
