<!DOCTYPE html>
<html dir="ltr" lang="en-GB">
<head>
    <meta content="text/html; charset=utf-8" http-equiv="content-type"/>
</head>
<body style="font-family: 'Ubuntu', sans-serif; font-size: 100%; margin: 3%;">
<header>
    <div class="header-image" style="
    width: 100%;
    height: 106px;
    background-color: #00AEAB;
    background-image: url(https://www.identitybank.eu/images/homeafbeeldingen/logo2new.png);
    background-repeat: no-repeat;
">&nbsp;
    </div>

    <hr style="color: #00AEAB; opacity: 50%;">
    <div style="text-align:left; line-height: 25px; color:grey; padding-top: 20px; padding-bottom: 20px;">
        Guten Tag {{firstname}} {{lastname}},<br>
        <br>
        Wir bei {{business}} nehmen den Schutz Ihrer personenbezogenen Daten sehr ernst. Unser Ziel ist es, vollständig
        zu sein.
        Transparenz und Verantwortlichkeit Ihnen gegenüber, wenn es um die Verwendung Ihrer Daten geht. Mit Hilfe der
        Identity Bank können Sie
        loggen Sie sich einfach ein und erfahren Sie, was wir über Sie wissen und wann und warum wir Ihre Daten
        verwendet haben. Identity Bank speichert sicher
        Ihre Daten und nur Sie haben die volle Kontrolle darüber. Es sind schließlich Ihre Daten und das ist Ihr
        Eigentum.<br>
        <br>
        Über den folgenden Link erhalten Sie Zugang zu Ihrem persönlichen Konto:<br>
        <div style="text-align:center; line-height: 30px; color:grey; padding-top: 10px; padding-bottom: 20px;">
            <a
                    href="{{invitation_link}}"
                    style="text-transform: uppercase ;background:#00AEAB;color:white;font-family:Helvetica;font-size:13px;font-weight:normal;line-height:120%;Margin:0;text-decoration:none; margin-top: 50px; line-height: 60px; padding: 0 20px; display: inline-block;"
                    target="_blank">Bringen Sie mich zu meinen Daten!</a>
            <br>
        </div>
        <br>
        Sie können den Zugriff auf Ihre Daten mit einem Passwort schützen, das nur Sie kennen. Wenn Sie bereits Identity
        Bank verwenden
        Sie können sich einloggen und {{business}} neben anderen Unternehmen sehen, die Ihre Daten in einem einfach zu
        bedienenden System benötigen.
        Übersicht.<br>
        <br>
        Glauben Sie uns nicht, sondern prüfen Sie, wie wir Ihre Identität selbst schützen!<br>
        <br>
        Mit herzlichen Grüßen,<br>
        <br>
        {{business}}<br>
        In Zusammenarbeit mit Identity Bank<br>
        'Du gehörst zu dir'
    </div>

</header>

<hr style="color: #00AEAB; opacity: 50%;">
<footer style="padding-top: 0px;">
    <div class="idb-details-large" style="
        width: 100%;
        text-align: center;
        padding: 0 10px 5px 10px;">
        {{emailTemplateFooter}}
    </div>
</footer>
</body>
</html>
